PORT=5000
MONGO_URI=mongodb://localhost:27017/kavach
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
NODE_ENV=development
HUGGING_FACE_TOKEN=your_optional_huggingface_token

# MSG91 OTP Service
MSG91_AUTH_KEY=504493AafI585tZ69ca4e21P1
MSG91_TEMPLATE_ID=69ca4c8a9541c1b51007d6e3